		<nav class="blog-nav">
          <a class="blog-nav-item active" href="{% url 'home' %}">Home</a>
          

          <!-- <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% if request.user.is_staff %}
            <li><a class='username-nav' href="/admin/">{{request.user}}</a></li>
            {% else %}
            <li><a class='username-nav' href="">{{request.user}}</a></li>
            {% endif %}
            {% endif %}
          </ul>

          {% if not request.user.is_authenticated and not "login" in request.get_full_path %}
            <form class='navbar-form navbar-right' method='POST' action="{% url 'login' %}">{% csrf_token %}
              <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Username' />
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
          </form>
          {% endif %} -->
            <ul class="nav navbar-nav navbar-right">

          		{% if not request.user.is_authenticated %}
        		<li><a href='{% url "register" %}'>Register</a></li>
        		<li><a href='{% url "login" %}'>Login</a></li>
        		{% else %}
            <li><h4>{{ request.user }}</h4></li>
        		<li><a href='{% url "logout" %}'>Logout</a></li>
        		{% endif %}
    		</ul>


        </nav>